#root {
    padding: 60px 30px 30px 20px;
    margin: 0 auto;
    text-align: center;
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 32px 16px 96px;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

